<%@title="Info"%>
<link rel="stylesheet" type="text/css" href='<%= url('/css/make_choices.css') %>'>
<div class="container">
  <div class="hero-unit centerText">
	Welcome to the Sandwich Pre-Order Program!<br><br>
	Staples High School and Chartwells<sup>&copy</sup> now allow students and staff to order sandwiches before they enter the cafeteria
	for lunch.<br>
	When prompted to give your credentials, you need to supply your WPS email address as you would if you were checking
	your email.<br><br>
	Click the login button on the top right to begin!
  </div>
</div>
