.hero-unit
    {
        margin-top: 30px;
    }

.centerText
    {
        text-align:center;
        /*color: #000000;*/
    }

.finePrint
    {
        font-size: 10px;
    }
.headIMG
    {
        width:100px;
        height:auto;
    }
#shs_logo
    {
        position:fixed;
        top:40px;
        left:20px;
    }
#usernameDiv
    {
        position:absolute;
        top:5px;
        right:5px;
    }
select
    {
        width:auto;
        height:auto;
    }